ul{
    list-style-type: none;
}

*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
}
.search-container {
    display: flex;
    align-items: center;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#search {
    flex: 1;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

#search-button {
    padding: 10px 15px;
    background-color: black;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}
.m-user-cart{
    margin: 20px;
}
.logo{
    border-radius: 50%;
    width: 70%;
}
.flex-logo{
    display: flex;
    justify-content: left ;
}
.flex-user{
    display: flex;
} 
    
.flex-header{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    
}
.p-right{
    padding-right: 15px;
}
.bg-grey{
    background-color: #484e52;
    
}

.bg-ligh-grey{
    background-color: #ebebeb;
} 


.f-navbar{
    color: #F3AA21;
}
.hamburguer-buttom{
    background-color: black;
    color: grey;
    display: block;
    max-width: 50px;
    padding: 10px 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    color: #F3AA21
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.center{
    text-align: center;
}
.portada{
    width: 100%;
}
.fotos-main{
    width: 200%;
    height: 200%;
    padding: 20px;
}
.flex-home{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 


.box{
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    width: 150px;
    padding: 10px;
    color: gray;
}
.flex-main{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 50%;

}
.p-b-main{
    padding-bottom: 20px;
}
.m-main{
    margin-bottom: 20px;
}


.p-footer-i{
    padding-left: 10px;
    padding-right: 10px;
} 

.flex-footer{
    display: flex;
    justify-content: center;
} 
.box-footer{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #ebebeb;
    text-align: center;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: gray;

} 
.padding-footer{
    padding-top: 100px;
    padding-bottom: 100px;
} 
.pd-main{
    padding-bottom: 10px;
}

form {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 10px;
      border-radius: 5px;
  }
  
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  .boton-formulario{
    display: block;
     background-color: #03264C;
    text-align: center;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    transition: background-color 0.5s ease;  
  }
  
  .boton-formulario:hover{
    background-color: #0022AA;
  }
  
  
  .flex-wrap {
    flex-wrap: wrap;
  }

  .relative{
    position: relative;
  }
  .bg-white {
    background-color: white;
  }
  .w-50 {
    width: 50%;
  }
  
  .p-1 {
    padding: 8px;
  }
  .my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
 }



@media(max-width: 768px){
    .user-cart{
        display: none;
    }
    .main-navbar{
        display: none;
    } 
    .flex-home{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;

    }
    .m-logo{
        margin: auto;
        padding: auto;;
        
    }
    .portada{
        width: 100%;
    }
    .search-container{
        display: none;
    }
    .m-hamburger{
        margin: 40px;
    }
    header{
        border: auto;
    }
    .box-footer{
        margin-left: 10px;
        margin-right: 10px;
    }
    
}

@media(min-width: 768px){
        .main-header-top-bar{
            display: flex;
            justify-content: space-between;
            padding-right: 10px;
        }
        .main-navbar ul {
            display: flex;
            justify-content: space-between;
        }
        .main-navbar li {
                margin: 0 5px;
            }  
            
        .hamburguer-buttom{
            display: none;
        } 
        .f-navbar{
            color: gray;
        }
        .fotos-main{
            width: 100%;
            height: 100%;
            padding: 20px;
        }
        .flex-header{
            margin: 20px;
            display: flex;
            align-items: center;
        }
        .search-container{
            margin: auto;
        }
        #search{
            padding: 5px 10px 5px ;
            padding-right: 100px;
        } 
        
        
}
@media (min-width: 1200px){
        
        .main-header-top-bar, .main-navbar{
            max-width: 1200px;
            margin: auto;
        }
        .main-header-top-bar{
            align-items: center;
        } 
        .main-navbar{
            margin-top: 40px;
        }
        .main-navbar li{
            margin: 0 10px;
        }
        .main-navbar a{
            font-size: 19px;
        }
        
}       