ul{
    list-style-type: none;
}

*{
    box-sizing: border-box;
}
.search-container, ul a:link {color: rgb(255, 255, 255); text-decoration: none }
.search-container, ul a:hover {color: rgb(255, 255, 255); text-decoration: none }
.search-container,ul a:visited {color: rgb(255, 255, 255); text-decoration: none }

nav a[href="/cart"]:link {color: rgb(255, 255, 255); text-decoration: none }
nav a[href="/cart"]:hover {color: rgb(255, 255, 255); text-decoration: none }
nav a[href="/cart"]:visited {color: rgb(255, 255, 255); text-decoration: none }

a[href="/login"], a[href="/cart"]:link {color: rgb(0, 0, 0); text-decoration: none}
a[href="/login"], a[href="/cart"]:hover {color: rgb(0, 0, 0); text-decoration: none }
a[href="/login"], a[href="/cart"]:visited {color: rgb(0, 0, 0); text-decoration: none }

body a:link {text-decoration: none;} 

a.c-white:visited{ color: #ffffff;}
a.c-white:hover{ color: #ffffff;}
a.c-white:link{ color: #ffffff;}

article a:link {color: rgb(0, 0, 20); text-decoration: none }
article a:hover {color: rgb(0, 0, 0); text-decoration: none }
article a:visited {color: rgb(0, 0, 0); text-decoration: none }

body{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
}

.search-container {
    display: flex;
    align-items: center;
    max-width: 40%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.search-input {
    display: flex;
    max-width: 100%;
}

#search {
    flex: 1;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 1000px;
}

#search-button {
    padding: 10px 15px;
    background-color: black;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#search-button:hover {
    background-color: #0056b3;
}

.m-user-cart{
    margin: 20px;
}

.h-text {
    font-family: sans-serif;
}

.h-text1 {
    padding: 7px;
    margin-left: 100px;
}

.h-text2 {
    padding: 7px;
    margin-right: 100px;
}

.flex-user{
    display: flex;
} 
    
.p-right{
    padding-right: 15px;
}

.m-left{
    margin-left: 5px;
}

.bg-ligh-grey{
    background-color: #ebebeb;
} 


.p-10{
    padding: 10px;
    color: black;

}

.f-navbar{
    color: #F3AA21;
}

.dropdown-box {
    display: flex;
    align-items: center;
    background-color: #000000;
    border-radius: 5px;
}
.text-price{
    color: gray;
    font-size: 16px;
    
}

.text-xl{
    font-weight: bold;
    box-shadow: #F3AA21;
    padding: 10px;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.center{
    text-align: center;
}
.a-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.portada{
    width: 100%;
}

.fotos-main{
    width: 200%;
    height: 200%;
    padding: 20px;
}

.flex-home{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 

.box-list{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 40px;
    transition: box-shadow 0.5s ease;
}


.box{
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    width: 150px;
    padding: 10px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
}

.titulo-cuadro {
    display: flex;
    justify-content: center;
    position: absolute;
    color: rgb(0, 0, 0);
    margin-top: 200px;
    margin-left: 280px;
    font-size: 36px;
}

.flex-main{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 50%;
}

.p-b-main{
    padding-bottom: 20px;
}

.m-main{
    margin-bottom: 20px;
}

.pd-main{
    padding-bottom: 10px;
}

form {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  main input{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .register{
    text-align: center;
    padding: 10px;
} 
  .bg-register{
    background-color: #ebebeb;
    padding: auto;
  }

  .boton-formulario{
    display: block;
    background-color: #03264C;
    text-align: center;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    transition: background-color 0.5s ease;  
  }
  
  .boton-formulario:hover{
    background-color: #0022AA;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }

  .relative{
    position: relative;
  }

  .bg-white {
    background-color: white;
  }

  .w-50 {
    width: 50%;
  }

  .p-10{
    padding: 10px;
  }

  .p-1 {
    padding: 8px;
  }

  .my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
 } 

 .bg-img{
    background-image: url("/images/portada.png");
    background-repeat: no-repeat;
    background-size: cover;
 } 

 .m-main-log{
    margin-top: 150px;
    margin-bottom: 150px;
 }

 .flex-cat{
      display: flex;
      flex-direction: column;
      align-items: stretch;
 }

.item-cat{
    display: flex;
    flex-direction: row-reverse;
} 
.w-full{
    width: 100%;
}

.w-100{
    width: 100px
}

.b-product{
    border-radius: 5%;
} 

.m-pic{
    margin: 10px;
}

.flex-log{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.flex-send{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.box-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 5%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
}

td{
    padding-left: 10px;
}

.flex-buy{
    display: flex;
    justify-content: center;
    margin-top: 20px;
} 

.flex-buttom{
    display: flex;
    justify-content: center;
} 

.p-10{
    padding: 10px;
}

.truck-icon {
    color:#F3AA21;
    border: #F3AA21 solid 1px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 15px;
    top: -15px;
    transition: transform 0.5s ease-in-out;
  }

  .label{
    display: flex;
    justify-content: space-evenly;
} 
.shipment{
display: flex;
justify-content: center;
} /* APLICA A LOS METODOS DE ENVIO DE PRODUCT CART VER */ 

.c-red{
    background-color: #CD5C5C;
}

.red-text{
    color: red;
} 

.blue-text{
    color: blue;
} 

.img-perfil{
    width: 10% ; 
    border-radius: 50%; 
} 

.w{
    width: 75%;
} 

.flex-img{
    display: flex; 
    justify-content: flex-end; 
    
} 

.flex-profile{
    display: flex;
    justify-content: center;
     
} 

.img-profile{ 
    border-radius: 50%;

} 

.m-5{
    margin: 2px;
}  

.m-right{
    margin-right: 40px;
} 
.imagen-con-zoom {
    transition: transform 0.3s ease-in-out;
  }
  
  .imagen-con-zoom:hover {
    transform: scale(1.1);
  }
  

@media(max-width: 768px){
    .user-cart{
        display: none;
    }
    .main-navbar{
        display: none;
    } 
    .flex-home{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;

    }
    .m-logo{
        box-sizing: border-box; 
    }

    .portada{
        width: 100%;
    }
    .search-container{
        display: none;
    }
    .m-hamburger{
        
        margin: 60px;
        justify-content: space-between;
    }
    header{
        border: auto;
    }
    .box-footer{
        margin-left: 10px;
        margin-right: 10px;
    }
    .box-cart{
        width: 80%;
    }

    .fa-solid, .fa-cart a:link {color: white; text-decoration: none}
    
}

@media(min-width: 768px){
        .main-header-top-bar{
            display: flex;
            justify-content: space-between;
            padding-right: 10px;
        }
        .main-navbar ul {
            display: flex;
            justify-content: space-between;
        }
        .main-navbar li {
                margin: 0 5px;
            }  
            
        .hamburguer-buttom{
            display: none;
        } 
        .f-navbar{
            color: gray;
        }
        .fotos-main{
            width: 100%;
            height: 100%;
            padding: 20px;
        }
        .flex-header{
            display: flex;
            align-items: center;
        }
        .search-container{
            margin: auto;
        }
        #search{
            padding: 5px 10px 5px ;
            padding-right: 100px;
        } 
        
        
}
