body {
  margin: 0;
  padding: 0;
  background-image: url('../assets/img/portada.png'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column; 
}

.dashboard {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 0;
    grid-template-columns: 300px auto;
    grid-template-rows: 80px auto;
    grid-template-areas: 'menu search' 'menu content';
}



.bike {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
  }
  
  .bike img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .bike h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
  }
  
  .bike p {
    font-size: 1em;
    margin-bottom: 4px;
  }

  .bg-grey{
    background-color: #000000}

  /*header*/
  header {
    position: relative;
    text-align: center;
  }
  
  .logo-container {
    position: absolute;
    top: 10px; 
    left: 10px; 
  }
  
  .logo-container img {
    width: 100px; 
    height: auto;
  }
  
  .portada {
    width: 100%;
    max-width: 100vw;
    height: auto;
    display: block;
  }

  /*Card*/
  .card-container {
    display: flex;
    justify-content: space-evenly; 
  }
  .card {
    width: 300px; /* Ajusta el ancho según tus necesidades */
    height: 350px; /* Ajusta la altura según tus necesidades */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px; /* Aumenta el espacio interno */
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: black; 
    text-align: center; 
  line-height: 1.5; 
  height: 100%; 
  align-items: center; 
    
  }
  .card-metric { 
    padding-left: 20px;
    font-size: 1rem;
    color: #333;
    text-align: center;
  }
   /*bikes*/
/* Estilos para el componente bikes.ejs */
.bike-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}

.bike-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: black;
  text-align: center;
  line-height: 1.5;
}

.bike-info {
  font-size: 1rem;
  color: #333;
}

.bike-image {
  width: 100%; /* Asegura que la imagen ocupe el ancho completo de su contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 8px;
  margin-bottom: 10px;
}



/* Estilos para la lista de usuarios */



.user-card {
  width: 250px; /* Ajusta el ancho según tus necesidades */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}

.user-card h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.user-card p {
  font-size: 1rem;
  color: #333;
}

.user-image {
  width: 50%; 
  border-radius: 8px; 
  margin-top: 10px;
}


  /*footer*/
  .footer {
    margin-top: auto;
    padding: 20px; 
    background-color: #333; 
    color: white; 
    text-align: center;
  }

.flex-footer{
  display: flex;
  justify-content: center;
} 
.box-footer{   
  background-color: #F3AA21;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
}

  

  

