<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>

<body class="bg-ligh-grey">
    
    <header class="bg-grey p-20">
           <div class="flex-header">
           <div class="m-logo">
            <a href="/"><img src="/images/logo.png" class="logo" alt="Logo BikeWorld"></a>
            </div>
            <div class="search-container">
              <input type="text" id="search" placeholder="Buscar bicicletas...">
              <button type="button" id="search-button">Buscar</button>
           </div>
           <div class="m-hamburger">
              <a href="#" class="hamburguer-buttom">
              <i class="fa-solid fa-bars"></i>
              </a>
            <div class="user-cart m-user-cart flex-user">
              <a href="/login"><i class="fa-solid fa-user fa-lg p-right"></i></a>
              <a href="/product-cart"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
        </div>
        </div>          
    </div> 

     <nav class="main-navbar ">
        <ul class="search-container flex-home">
            <li><a href="/product-detail">Products</a></li>
            <li><a href="/product-cart">Shop</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            </ul>
    </nav>        
            
    </header>

    <img src="/images/portada.png" class="portada" alt="Portada">
    
    <main class="mx-auto pd-main"> 
        <section class="flex-home">
            
            
        <div class="flex-main">
            <a href="#" class="box">Bikes</a>
            <img src="/images/bicis2.png" class="fotos-main" alt="bicis2">
        </div>
        <div class="flex-main"> 
            <a href="#" class="box">Accessories</a>
            <img src="/images/kitbici.png" class="fotos-main" alt="kitbici">
        </div>
        <div class="flex-main"> 
            <a href="#" class="box">Cloting</a>
            <img src="/images/ropabici.png" class="fotos-main" alt="ropabici">
        </div>
        <div class="flex-main">
            <a href="#" class="box ">Stores</a>
            <img src="/images/stores.png" class="fotos-main" alt="stores">
        </div>    
        </section>

    </main>
    
</body>
<footer class="bg-grey padding-footer">
    
    <%- include("partials/footer") %>
    
</footer>
</html>