<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
</head>

<body class="bg-ligh-grey bg-img">
    
    <header class="bg-grey p-20">
           <div class="flex-header">
           <div class="m-logo">
              <img src="/images/logo.png" class="logo" alt="Logo BikeWorld" onclick="window.location='/'">
              </div>
            <div class="search-container">
              <input type="text" id="search" placeholder="Buscar bicicletas...">
              <button type="button" id="search-button">Buscar</button>
           </div>
           <div class="m-hamburger">
              <a href="#" class="hamburguer-buttom">
              <i class="fa-solid fa-bars"></i>
              </a>
              <div class="user-cart m-user-cart flex-user">
                <a href="/login"><i class="fa-solid fa-user fa-lg p-right"></i></a>
                <a href="/product-cart"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
          </div>
        </div>          
    </div> 

     <nav class="main-navbar">
        <ul class="search-container flex-home">
            <li><a href="/product-detail">Products</a></li>
            <li><a href="/product-cart">Shop</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            </ul>
    </nav>        
            
            
    </header>
  

    <main class="m-main-log">
        
        
        <form action="" method="GET" class="bg-ligh-grey flex-log">

            <div>
              <div class="font1 mt-5 mb-5">
                <input type="text" name="user" id="user" placeholder="Nombre de Usuario" required pattern="\w{2,}" title="El nombre de Usuario debe tener al menos 2 letras">
              </div>
          
              <div class="font1 mt-5 mb-5">
                <input type="password" name="password" id="password" placeholder="Contraseña" required pattern=".{6,}" title="La contraseña deberá tener al menos 6 letras">
                <p class="center"><a href="#"> Olvidé mi contraseña </a></p>
              </div>
              <div class="flex-send">
                <button type="submit" value="Enviar" formaction="/"> Enviar </button>
              </div>
            </div>
            <p class="ml mt-2 bold boton-formulario"> Ingresá </p>
          <div class="ml relative p-10">
            <a href="#" class="mr"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class=""><i class="fab fa-google-plus-g"></i></a>
        </div>
        <span class="ml font-size-10">o utiliza tu cuenta</span>  

        <div class="ml">
        <p class="font1 mt-5 mb-5">
         Aún no sos usuario?
        <a href="/register"> Registrate </a>   

        </p>
      </div>    
          </form>       
          
          

    
          
    </main>    
    
</body>
<footer class="bg-grey padding-footer">
    
  <%- include("partials/footer") %>
    
</footer>

</html>