<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="bg-grey p-20">
        <div class="flex-user">
            <i class="fa-solid fa-user fa-lg p-right"></i>
            <i class="fa-solid fa-cart-shopping fa-lg"></i>
        </div>
        <div class="flex-logo">
            <img src="/images/logo.png" class="logo" alt="Logo BikeWorld">  
        </div>
       
             
        

    <nav class="main-navbar">
        <ul class="right-navbar f-navbar">
        <li><a href="#">Bikes</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Cloting</a></li>
        <li><a href="#">Oficial stores</a></li>
        <li><a href="#">Contact</a></li>
        </ul>
    </nav>        
            
    </header>

    <img src="/images/portada.png" class="portada" alt="Portada">
    
</body>
<footer class="bg-grey margin-footer">
    
    <ul class="flex-footer">
        <li class="p-footer box-footer"><a href="#">Contact</a></li>
        <li class="p-footer-i"><a href="#"><i class="fa-brands fa-instagram fa-xl" style="color: #e3e3e3;"></i></a></li>
        <li class="p-footer-i"><a href="#"><i class="fa-brands fa-facebook fa-xl" style="color: #e2e2e2;"></i></a></li>
        <li class="p-footer-i"><a href="#"><i class="fa-brands fa-youtube fa-xl" style="color: #e2e2e2;"></i></a></li>
        <li class="p-footer-i"><a href="#"><i class="fa-brands fa-twitter fa-xl" style="color: #e2e2e2;"></i></a></li>
        <li class="p-footer box-footer"><a href="#">Community</a></li>
    </ul>
    
</footer>
</html>