<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>

<body class="bg-ligh-grey bg-img">
    
    <header class="bg-grey p-20">
        <%- include("partials/header") %>        
    </header>

    <main>
        <%- include("partials/product-detail") %>
</main>
        
</body>

<footer class="bg-grey padding-footer">
     <%- include("partials/footer") %>
    </footer>
</html>