<head>
    <%- include("partials/head") %>
</head>

<body class="bg-light-grey">

    <header class="bg-grey p-20">
        <%- include("partials/header") %>
    </header>

    <main>
        <form action="/bikes" method="POST" class="create-form" enctype="multipart/form-data">
            <div class="m-pic">
                <label for="modelName">Nombre del modelo:</label>
                <input type="text" id="modelName" name="modelName" placeholder="Bicicleta BW Race" class="control box-formulario">
            </div>
            <div class="m-pic">
                <label for="name">Marca del producto:</label>
                <input type="text" id="name" name="name" placeholder="Vairo" class="control box-formulario">
            </div>
            <div class="m-pic">
                <label for="size">Tamaño del cuadro:</label>
                <input type="text" id="size" name="size" placeholder="XL" class="control box-formulario">
            </div> 
            <div class="m-pic">
                <label for="color">Color:</label>
                <input type="text" id="color" name="color" placeholder="XL" class="control box-formulario">
            </div>
            <div class="m-pic">
                <label for="category">Categoría de la bicicleta:</label>
                <select name="category" id="category">
                    <option value="electrica">Electrica</option>
                    <option value="freestyle">Freestyle/BMX</option>
                    <option value="mountain-bike">Mountain Bike</option>
                    <option value="paseo">Paseo/Urban</option>
                    <option value="ruta">Ruta/Triatlon</option>
                </select>
            </div>
            <div class="m-pic">
                <label for="price">Precio del producto:</label>
                <input type="text" id="price" name="price" placeholder="$159.700" class="control box-formulario">
            </div>
            <div class="m-pic">
                <label for="description">Descripción:</label>
                <textarea id="description" name="description" class="control box-formulario"></textarea>
            </div>
            <div class="m-pic">
                <label for="image">Imagen del producto</label>
                <input type="file" id="image" name="image">
            </div>
            <div class="m-pic">
                <button type="reset" class="boton-formulario m-pic">Borrar</button>
                <button type="submit" class="boton-formulario m-pic">Guardar</button>
            </div>

        </form>
    </main>

    <%- include("partials/footer") %>

</body>

</html> 