<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
</head>

<body class="bg-ligh-grey bg-img">
    
    <header class="bg-grey p-20">
      <%- include("partials/header") %>
    </header>
    <main>
        <form action="index.php" method="post" class="vw-90 bg-register">
        <h1 class="register">Registrate</h1>
        <div>
            <label for="nombre">Nombre y Apellido:</label>
            <input type="text" name="nombre" id="nombre" pattern="[a-zA-Z ]" />
          </div>
          <div>
            <label for="usuario">Nombre de Usuario:</label>
            <input type="text" name="usuario" id="usuario" />
          </div>
          <div>
            <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
            <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" />
          </div>
          <div>
            <label for="domicilio">Domicilio:</label>
            <input type="text" name="domicilio" id="domicilio" />
          </div>

          <div class="flex-cat"> 
            <label for="categorias">Categorías de Bicicletas buscadas:</label>
            <div class="item-cat">
              <input type="checkbox" name="categorias[]" value="mont"/> <p class="w-100">Montaña</p> 
            </div>
            <div class="item-cat">
              <input type="checkbox" name="categorias[]" value="ruta" /> <p class="w-100">Ruta</p> 
            </div>
            <div class="item-cat">
              <input type="checkbox" name="categorias[]" value="elec" /> <p class="w-100">Electrica</p> 
            </div>
            <div class="item-cat">
              <input type="checkbox" name="categorias[]" value="fam" /> <p class="w-100">Familiar</p> 
            </div>
            <div class="item-cat">
              <input type="checkbox" name="categorias[]" value="Paseo" /> <p class="w-100">Paseo</p> 
            </div>
          </div>

          <div>
            <label for="contraseña">Contraseña:</label>
            <input type="password" name="contraseña" id="contraseña" />
          </div>
          <div>
            <label for="confirmar_contraseña">Confirmar contraseña:</label>
            <input type="password" name="confirmar_contraseña" id="confirmar_contraseña" />
          </div>
          <div>
          <input type="submit" value="Enviar" class="boton-formulario"/>
          <input type="reset" value="Borrar" class="boton-formulario"/>
        </div>

    </form>
    
  </main>
    


</body>
<footer class="bg-grey padding-footer">
  <%- include("partials/footer") %>
</footer>
</html>