<header class="bg-grey">

  <div class="top-header">
      <div class="h-text1">
          <h5>HASTA 12 CUOTAS FIJAS | ENVÍO GRATIS A PARTIR DE $ 30.000</h5>
      </div>
      <div class="h-text2">
          <h5><i class="fa-solid fa-location-dot" style="color: #000000;"></i> Av. del Libertador 15400 - Buenos Aires, Argentina</h5>
      </div>
  </div>

  <div class="flex-header">
      <div class="m-logo">
          <img src="/images/logo.png" class="logo" alt="Logo BikeWorld" onclick="window.location='/'">
      </div>
          <div class="search-container">
        <input type="text" id="search" placeholder="Buscar bicicletas...">
        <button type="button" id="search-button">Buscar</button>
          </div>
     <div class="m-hamburger">
        <a href="#" class="hamburguer-buttom">
        <i class="fa-solid fa-bars"></i>
        </a>
      <div class="user-cart m-user-cart flex-user">
        <a href="/login"><i class="fa-solid fa-user fa-lg p-right"></i>Mi cuenta</a>
        <a href="/cart"><i class="fa-solid fa-cart-shopping fa-lg m-left"></i>$ 0</a>
      </div>
      </div>          
  </div> 

  <nav class="main-navbar">
      <ul class="dropdown-box">
          <li><a href="/bikes">PRODUCTOS</a></li>
          <li><a href="/register">REGISTRATE</a></li>
          <li><a href="/cart">SHOP</a></li>
      </ul>
  </nav>        
      
</header>
