<article class="mx-auto bg-white my-1 w-50 md-w-50 lg-w-25 b-product">        
    <div class="bt-1 border-grey p-1 relative flex flex-wrap">
        <h2 class="flex-buttom p-10">Listado de Bicicletas</h2>
       <div class="flex-buttom p-10">
                    <button type="button" class="boton-formulario">
                        <a href="/create" class="c-white">Crear producto</a>
                    </button>
                </div>
        <p class="text-xl mr-1 flex-buttom mx-auto">
            <% bikes.forEach(bike =>{ %>
                
                <a href="/bikes/<%= bike.id %>">
                    <img class="flex-buy w-50 mx-auto m-pic flex-buttom" src=<%= bike.img %> alt="Imagen del producto" />
                    <h4><%= bike.nombre  %></h4>
                    <p class="ps-text-grey"> $
                    <%= bike.precio  %>
                    </p>
                </a>
                <br />
                    <%   }) %>
        </p>
    </div>
</article>